body>div{
    padding-bottom: 50px;
}

.x-axis, .y-axis path{
    fill:none;
    stroke: black;
}
.x-axis,.y-axis  {
    font-size:8pt;
    font-family:sans-serif;
}

.tick{
    fill : none;
    stroke:black;
}

circle{
    stroke:black;
    stroke-width:0.5px;
    fill:RoyalBlue;
    opacity:0.6;
}


circle.timeSquare{
    stroke:black;
    stroke-width:0.5px;
    fill: #37e100;
    opacity:0.6;
}

circle.grandCentral{
    stroke:black;
    stroke-width:0.5px;
    fill: #e1486a;
    opacity:0.6;
}

.time-line{
    fill: none;
    stroke: #37e100;
}

.grand-central{
    fill: none;
    stroke: #e1486a;
    opacity: 0.5;
}

.squre{
    float: left;
    width: 20px;
    height: 20px;
    background-color: red;
}

.line-label{
    float: right;
}

.line-label:after{
    clear: both;
}
.key_line:after{
    clear: both;
}

.clear-me{
    clear: both;
}