body>div{
    padding-bottom: 50px;
}

.x-axis, .y-axis path{
    fill:none;
    stroke: black;
}
.x-axis,.y-axis  {
    font-size:8pt;
    font-family:sans-serif;
}

.tick{
    fill : none;
    stroke:black;
}

circle{
    stroke:black;
    stroke-width:0.5px;
    fill:RoyalBlue;
    opacity:0.6;
}